body {
    font-family: Arial, sans-serif;
    background-image: url('dalle.png');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix the background image position */
    color: #333;
    text-align: center;
}

header, #party-details, #rsvp {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

input[type=email], input[type=submit] {
    margin-top: 10px;
    padding: 5px;
}

input[type=submit] {
    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #228b22;
}
